.debate-item-wrapper {
    background-color: rgba(173, 216, 230, 0.24);
    width: 800px;
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}

.debate-title {
    font-size: 24px;
    font-weight: bold;
    padding-right: 20px;
}
.debate-date {
    font-size: 14px;
}

.debate-description {
    margin-top: 8px;
    font-size: 14px; 
    font-weight: 500;
    padding-bottom: 16px;
    letter-spacing: -0.02em;
    
}

.debate-beg:hover {
    color: rgba(0, 0, 0, 0.411); 
    cursor: pointer;
}

.debate-title-wrapper {
    display:flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.debate-beg {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.debate-polling {
    padding-right: 20px;
}

.debate-polling:hover {
    cursor: pointer
}