@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');

* {
    font-family: 'Hind', sans-serif;
}

a {
    font-family: 'Hind';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.App {
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    position: relative;
}

.app-title {
    font-size: 72px;
    margin: 0;
}

.app-description {
    margin: 0;
    padding-bottom: 20px;
}

.app-authors {
    font-size: 12px;
    color: grey;
    margin-top: 100px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .query-expansion {
      padding-top: 10px;
      font-size: 12px;
      color: grey;
  }

  .query-button {
    text-decoration: underline;
    font-weight: bold
  }

  .query-button:hover {
      cursor: pointer;
  }

  .query-warning {
      color: red;
      font-size: 10px;
  }

  .prototypes {
      position: absolute;
      top: 0;
      left: 0;
  }
  a {
    font-family: 'Hind';
    text-decoration: none;
    font-size: 14px;
}

a:link {
    text-decoration: none;
    color: black
  }
  
  a:visited {
    text-decoration: none;
    color: black
  }
  
  a:hover {
    color: blue;
  }
  
  a:active {
    color: black;
  }